# Ignore Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environments
venv/
env/
.venv/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore log files
*.log

# Ignore database files
*.sqlite3
*.db

# Ignore sensitive config files
.env
.secrets/

# Ignore IDE project settings
.vscode/
.idea/
